select {
    color: #3D5A80
#98C1D9
#E0FBFC
#EE6C4D
#293241
}


html {
    font-family: Trirong;
    scroll-behavior: smooth;
    font-size: calc(0.8vw + 0.8vh);
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

header {
    width: 100%;
    background-color: #eb7658;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 0 10px 0px black;
}

header > a {
    color:rgb(66, 66, 66);
    text-decoration: none;
    font-size: 1rem;
    z-index: 20;
}

nav > h2 {
    margin: 0;
}

nav {
    color: rgb(66, 66, 66);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    animation: fade-in 2.5s;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

h3 {
    align-self: center;
    justify-self: center;
}

nav:hover {
    color: rgb(99, 99, 99);
    background-color: #293241;
    box-shadow: 3px 0 9px 2px rgb(46, 46, 46);
}

nav:hover > h2 {
    text-shadow: 0px 0px 2rem #fabc2a;
}

@supports (-webkit-text-stroke: 1px black) {
    nav:hover > h2 {
        -webkit-text-stroke: 3px rgb(0 0 0 / 0.3);
        -webkit-text-fill-color: white;
    }
  }

.about {
    height: 100vh;
    line-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #33455c, #68809c);
    flex: 1;
    position: relative;
    z-index: 10;
    text-align: center;
    box-shadow: 0 0 20px 0px black;
}



#flickers {
    flex: 99;
    text-align: center;
    vertical-align: middle;
    padding: 2.25rem;
}

#flicker1 {
    font-weight: bold;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 0;
    animation: spacein 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    letter-spacing: 1.5rem;
}

@keyframes spacein {
    0% {letter-spacing: 1.5rem;}
    100% {letter-spacing: -0.6rem;}
}

.about > div > h1 {
    color: #e0fbfc;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 5px rgb(44, 44, 44);
    transition: text-shadow 0.2s ease-out;
}

.about > div > h1:hover {
    text-shadow: 4px 4px 7px black;
}


.about > div > p {
    font-size: 2rem;
    color: #a1fcdf;
    letter-spacing: 0rem;
}

@keyframes spaceout {
    100% {letter-spacing: 4rem;}
}

.content {
    display: inline-block;
    vertical-align: middle; 
    line-height: 1rem;
}

.content > h1 {
    animation: fade-in 3s;
}

.content > p {
    opacity: 0;
    animation: fade-in 3s;
    animation-delay: 1.5s;
}


.work {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #888888, #474747);
    flex: 1;
    z-index: 8;
    position: relative;
    box-shadow: 0 0 20px 0px black;
    text-align: center;
}

.work > h1 {
    margin-top: 0;
    padding-top: 4rem;
    font-size: 3rem;
    margin: 0 auto 0.5rem auto;
    border-bottom: 0.2rem solid white;
    max-width: 40%;
}

h4 {
    color: white;
    font-weight: 100;
    animation: flicker 2s infinite;
}

h4:hover {
    cursor: pointer;
}

@media (max-aspect-ratio: 8 / 5) {
    .projects{
        grid-template-columns: 1fr !important;
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem 10vw;
    padding-bottom: 5rem;
}

.item {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 19px -3px rgb(0,0,0,0.5);
    background: none;
}

.course {
    display: inline;

}

.img {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 0;
    margin: 0;    
    overflow: hidden;
}

img {
    max-width: 100%;
}

.hidden {
    opacity: 0;
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(136, 136, 136, 0.9);
    width: 100%;
    display: flex;
    transition: opacity 0.3s ease-out;
}

.hidden:hover {
    opacity: 100;
}

@keyframes fade-in-t {
    0% {opacity: 0;}
    1% {opacity: 100;}
    100% {opacity: 99;}
}

.hidden > p {
    background-color: rgba(51, 69, 92, 0.9);
    width: 100%;
    height: 4rem;
    margin: 0.5rem 0;
    overflow-y: hidden;
    color: #a1fcdf;
    font-size: 2rem;
    text-shadow: 0 0 4px black;
    box-shadow: 0 5px 7px -3px rgba(0, 0, 0, 0.7);
}

p > a {
    color: #a1fcdf;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 0 0 4px black;
}

p > a:hover {
    color: #afe6d4;
    text-shadow: 0 0 9px rgba(14, 28, 226, 0.5);
}

.desc {
    background: linear-gradient(to bottom right, #4cce77, #2c9b67) ;
    margin-top: -0.25rem;
    font-size: 2rem;
    font-weight: bold;
    height: 3.5rem;
    line-height: 3.5rem;
    overflow-y:hidden;
    position: relative;
}

.desc > * {
    margin: auto 0;
}

.hidden > h6 {
    font-size: 1rem;
    line-height: 1.25rem;
    text-shadow: 0 0 0.5rem white;
}

.contact {
    height: 90vh;
    background: linear-gradient(to bottom right, #283b53, #37495c);
    flex: 1;
    padding-top: 0.5rem;
    z-index: 4;
    position: relative;
    text-align: center;
    margin-top: -3rem;
    line-height: 90vh;
}

.contact-me {
    font-size: 1.5rem;
    color: #e0fbfc;
    text-shadow: 1px 1px 5px rgb(44, 44, 44);
}


.line {
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact > div > h1 {
    color: #e0fbfc;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 1px 1px 5px rgb(44, 44, 44);
    transition: text-shadow 0.2s ease-out;
}

.contact > div > h1:hover {
    text-shadow: 4px 4px 7px black;
}

.footer {
    position: absolute;
    bottom: 0rem;
    height: 3rem;
    right: 10%;
    text-align: center;
    width: 80%;
    border-top: 0.25rem solid #afe6d4;
    font-size: 1rem;
}

.line > a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-shadow: 1px 1px 4px black;  
    transition: transform 0.5s ease-out; 
}

.line > a:hover {
    text-shadow: 1px 1px 3px black, 4px 4px 7px black;
    transform: translateY(8px);
}

span {
    color: goldenrod;
    text-shadow: 0 0 1px black;
    animation: flicker 2s infinite;
}

@keyframes flicker {
    0% {opacity: 0;}
    50% {opacity: 100;}
    100% {opacity: 0;}
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cv{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, 0.75);
    z-index: 1000;
}

#cv{
    z-index: 1000;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
}

.cv-btn{
    position: fixed;
    top: 92.5vh;
    left: 50%;
    transform: translate(-50%);
    width: calc(80vh / 1.4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cv-dl{
    font-size: 150%;
    border: none;
    background: linear-gradient(to right, #293241, #3D5A80);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    text-shadow: 0 0 6px rgb(149, 149, 149);
    cursor: pointer;
}

.cv-dl:hover{
    background: linear-gradient(to right, #3f4d64, #5177a8);
    text-shadow: 0 0 6px rgb(97, 97, 97);
}

.nodsp{
    display: none;
}

.noopc{
    opacity: 0;
}

.pointer{
    cursor: pointer;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
