@media (max-width: 600px) {
    html{
        font-size: 75%;
    }
}

@media (max-width: 300px) {
    html{
        font-size: 50%;
    }
}

@media (max-height: 350px) {
    #background{
        font-size: 75%;
    }
}

body{
    margin: 0;
    position: relative;
}

#background{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    background-color: white;
    box-shadow: 0.5rem 0.5rem 14px -3px rgba(0, 0, 0, 0.3);
    min-width: 40%;
    max-width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.2rem;
}

#text{
    margin-bottom: 0;
    text-align: center;
    font-family: Lato;
}

#text::before{
    content: '،،';
    color: black;
    margin-right: 0.5rem;
    font-size: 4.5rem;
    font-family: Jomhuria;
    line-height: 2rem;
    font-weight: 100;
}

#author{
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 0;
}

button{
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    align-self: flex-end;
    border-radius: 0.3rem;
    border: none;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.buttons{
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

svg{
    font-size: 2rem;
}
